{% load wagtailcore_tags wagtailimages_tags %}

{# Individual blog item in a list - used on blog index and home page #}
    <h2><a href="{% pageurl blog %}">{{ blog.title }}</a></h2>

    <div class="row">
        <div class="col-sm-8 col-md-8 pull-left">
        {% if blog.tags  %}
        
            Categoria:
            {% for tag in blog.tags.all  %}
                 <a href="/?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        {% endif %}
        </div>
        <div class="col-sm-2 col-md-2 pull-right">
        <p><strong>{{ blog.date|date:"j M" }}</strong></p>
        </div>

    </div>
    <hr/>
    
    <div class="row">
        <div class="col-md-12">
            {% if blog.resumen or blog.imagen %}
                {% if blog.imagen %}
                    {% image blog.imagen fill-200x200-c100 class="pull-left img-responsive img-thumbnail margin10 thumb" %}
            
                {% endif %}
                {% if blog.resumen %}
                    {{ blog.resumen|richtext }}
                {% endif %}
            {% endif %}
            <a class="pull-left" href="{% pageurl blog %}">Entrar...</a>
        </div>
    </div>
