{% load static %}

<footer>  
  <div class="container">
    <div class="row">
      <div class="col-md-7 center-block">
        <nav class="footer-menu small">
          <a href="/">HOME</a> |
          <a href="#">OUTFITS</a> |
          <a href="#">ACCESORIOS</a> |
          <a href="#">BELLEZA</a> |
          <a href="#">COMIDA</a> |
          <a href="#">EVENTOS</a> |
          <a href="#">CONTACTO</a>
        </nav>
      </div>
      <div class="col-md-5 text-center">
        <h4>Sigueme en...</h4>
        <a href="http://www.facebook.com/lovevintagehn"><img src="{% static 'blog/images/facebook.png' %}" class="img-circle"></a>
        <a href="http://www.twitter.com/nancylovo"><img src="{% static 'blog/images/twitter.png' %}" class="img-circle"></a>
        <a href="http://www.instagram.com/nancylovo"><img src="{% static 'blog/images/instagram.png' %}" class="img-circle"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="h6">Copyright © Nancy Lovo 2014. Todos los derechos Reservados.</p>
      </div>
    </div>
  </div>
</footer>