{% load static %}

<header>
    <div class="row">
        <div class="logo text-center">
            <a href="/"><img src="{% static 'blog/images/logo.png' %}" alt="nancylovo.com"></a>
        </div>
    </div>
    <p></p>


    <nav class="navbar navbar-default" role="navigation">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav nav-justified">
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="#">OUTFITS</a></li>
                <li><a href="#">ACCESORIOS</a></li>
                <li><a href="#">BELLEZA</a></li>
                <li><a href="#">COMIDA</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>

    </nav>
</header>