{% extends "blog/base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    
    {% if request.GET.tag|length %}
        <h4>Mostrando posts etiquedas como as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} " > Mostrar Todos</a></h4>
    {% endif %}

    <div class="list-group">
        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for blog in blogs %}
            {% include "blog/includes/blog_list_item.html" %}
        {% empty %}
            No blogs found
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-4 previous">
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Página {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}