{% load anuncios wagtailcore_tags wagtailimages_tags static %}
   
<div class="col-md-4">

    <div class="panel panel-primary acerca">
        <div class="panel-heading">
            <div class="panel-title text-center">
                Nancy lovo
            </div>
        </div>
        <div class="panel-body text-center">
            <img src="{% static 'blog/images/nancylovo.png' %}" class="img-responsive center-block" alt="Nancy Lovo" />
            <div class="panel-footer">
            Mi nombre es Nancy Lovo y estoy aqui para mostrarte como veo a el mundo!
            <p class="center-text">Bienvenido!!!</p>
            </div>
        </div>
    </div>

    <div class="desktop-only">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center"></div>
            </div>
            <div class="panel-body">
                {% anuncios %}
            </div>
        </div>

        <!-- Facebook Widget -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Facebook</div>
            </div>
            <div class="panel-body">
            
                <div class="fb-like-box center-block" data-href="https://www.facebook.com/lovevintagehn" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div> 
            </div>
        </div>

        <!-- Instagram Widget -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Instagram</div>
            </div>
            <div class="panel-body">
             
                <script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/S531f5fe5aff152f20e287856fa35f1e.html" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe> 
            </div>
        </div>

        <!-- Twitter Widget -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Twitter</div>
            </div>
            <div class="panel-body">
                <a class="twitter-timeline center-block" href="https://twitter.com/Nancylovo" data-widget-id="479864121941168128" data-chrome="nofooter noheader" lang="es_LA"></a> 
            </div>
        </div>
    </div>

</div>